.app-title {
  font-family: monospace;
}

.bg {
  text-align: center;
}

.link-navigation {
  margin: 5px;
  font-family: monospace;
  font-size: 18px;
  background-color: slategray;
  color: white;
  padding: 1px 3px;
  text-decoration: none;
}

.link-navigation:hover {
  color: gray;
  background-color: ghostwhite;
}

.link-navigation:active {
  color: cornflowerblue;
}
