<div class="bg">
  <h1 class="app-title">translate and remember</h1>

  <nav>
      <a routerLink="/dictionary" routerLinkActive="active" class="link-navigation">Dictionary</a>
      <a routerLink="/settings" routerLinkActive="active" class="link-navigation">Settings</a>
      <a routerLink="/remember" routerLinkActive="active" class="link-navigation">Remember</a>
  </nav>

  <router-outlet></router-outlet>
</div>
