<div class="container">
  <h3 class="component-title">Settings</h3>
  <form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
    <div class="form-group">
      <label for="wordLanguage">Current languages</label>
      <select class="select-language" id="wordLanguage"
              required
              [(ngModel)]="model.currentLang" name="wordLanguage"
              #wordLanguage="ngModel">
        <option *ngFor="let ln of languages" [value]="ln">{{ln}}</option>
      </select>

      <label for="translateLanguage">Translate languages</label>
      <select class="select-language" id="translateLanguage"
              required
              [(ngModel)]="model.translateLang" name="translateLanguage"
              #translateLanguage="ngModel">
        <option *ngFor="let ln of languages" [value]="ln">{{ln}}</option>
      </select>
      <div *ngIf="model.currentLang === model.translateLang" class="alert-danger">Current and Translate must by diff</div>
    </div>

    <div class="form-group">
      <label for="count" class="label">Count questions in test</label>
      <input type="number" class="form-control" id="count"
        required [min]=minQuestionCount [max]=maxQuestionCount
        [(ngModel)]="model.count" name="count"
        #count="ngModel">
      <div [hidden]="count.valid" class="alert-danger">Count must be > '{{minQuestionCount}}' and < '{{maxQuestionCount}}'</div>
    </div>

    <button type="submit" class="btn btn-save" [disabled]="!settingsForm.form.valid || model.currentLang === model.translateLang">Save</button>
  </form>
</div>
