.component-title {
  font-family: monospace;
  font-size: 16px;
}

.container {
  font-family: monospace;
}

.form-group {
  margin: 5px;
}

.select-language {
  margin: 5px
}

.ng-invalid {
  border-color: red;
}

.ng-valid {
  border-color: green;
}

.label {
  margin: 3px;
}

.btn-save {
  padding: 6px 30px;
  border: none;
  background: #ededff;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
}

.btn-save:active {
  background-color: darkgray;
  box-shadow: 0 2px darkslategray;
  transform: translateY(1px);
  color: white;
}

.alert-danger {
  color: red;
}
