<div class="container">
  <h3 class="component-title">Dictionary</h3>
  <form (ngSubmit)="onSubmit()" #dictionaryForm="ngForm">
    <div class="form-group">
      <label for="wordLanguage">Change languages</label>
      <select class="select-language" id="wordLanguage"
          required
          [(ngModel)]="model.wordLanguage" name="wordLanguage">
        <option *ngFor="let ln of languages" [value]="ln">{{ln}}</option>
      </select>

      <label for="translateLanguage">Change languages</label>
      <select class="select-language" id="translateLanguage"
          required
          [(ngModel)]="model.translateLanguage" name="translateLanguage">
        <option *ngFor="let ln of languages" [value]="ln">{{ln}}</option>
      </select>

      <div *ngIf="model.wordLanguage === model.translateLanguage" class="alert-danger">Current and Translate must by diff</div>
    </div>

    <div class="form-group">
      <label for="word" class="label">Word</label>
      <input type="text" class="form-control" id="word"
        required
        [(ngModel)]="model.word" name="word"
        #word="ngModel">

      <label for="translate" class="label">Translate</label>
      <input type="text" class="form-control" id="translate"
        required minlength="2"
        [(ngModel)]="model.translate" name="translate"
        #translate="ngModel">
    </div>

    <div [hidden]="translate.valid && word.valid" class="alert">Enter word and translate</div>

    <button type="submit" class="btn btn-save" [disabled]="!dictionaryForm.form.valid || model.wordLanguage === model.translateLanguage">Save</button>

    <div class="dictionaryList">
      <p>ru | en</p>
      <div *ngFor="let elm of dictionaryList">
        <div class="dictionary-element">{{elm.ru}} - {{elm.en}}</div>
      </div>
    </div>
  </form>
</div>
