.Home {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-family: DejaVu Sans Mono, serif;
    font-size: 20px;
    color: white;
}

.LinkCity {
    color: darkgray;
    font-size: 18px;
    transition-duration: 0.2s;
    text-align: left;
}

.LinkCity:hover {
    color: slategray;
}

.Input {
    padding: 4px 36px;
    font-size: 18px;
    text-align: center;
    margin: 4px;
}