.TownWeather {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: DejaVu Sans Mono, serif;
    font-size: calc(10px + 2vmin);
    color: whitesmoke;
}

.ButtonDayWeather {
    background-color: darkgray;
    padding: 12px 28px;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    margin: 2px;
    font-family: monospace;
}

.ButtonDayWeather:hover {
    background-color: dimgray;
    color: white;
}

.LinkBack {
    color: darkgray;
    font-size: 42px;
    transition-duration: 0.2s;
    text-align: left;
    font-family: Impact, serif;
}

.LinkBack:hover {
    color: slategray;
}
