.component-title {
  font-family: monospace;
  font-size: 16px;
}

.container {
  font-family: monospace;
}

.form-group {
  margin: 5px;
}

.select-language {
  margin: 5px
}

.label {
  margin: 3px;
}

.btn {
  padding: 6px 30px;
  border: none;
  background: #ededff;
  text-align: center;
  font-family: monospace;
  font-size: 14px;
}

.btn:active {
  background-color: darkgray;
  box-shadow: 0 2px darkslategray;
  transform: translateY(1px);
  color: white;
}

.testing-state {
  margin-right: 20px;
  padding: 20px 500px;
  font-family: monospace;
  text-align: right;
  color: darkslateblue;
}

.result {
  margin-top: 10px;
}

.result-true {
  font-family: monospace;
  font-size: 15px;
  font-style: initial;
  text-align: center;
  color: green;
}

.result-false {
  font-family: monospace;
  font-size: 15px;
  font-style: initial;
  text-align: center;
  color: red;
}

