<div class="container">
  <h3>Remember</h3>
  <button *ngIf="!testing" class="btn btn-start-testing" (click)="startTesting()">Start testing</button>

  <div>
    <form *ngIf="testing" (ngSubmit)="onSubmit()" #testingForm="ngForm">
      <div class="form-group">
        <label for="word">The word: "{{currentWord.word}}"</label>
        <div id="word"></div>
      </div>

      <div class="form-group">
        <label for="response" class="label">Translate</label>
        <input type="text" class="form-control" id="response"
               [(ngModel)]="response.translate" name="word">
      </div>

      <button class="btn btn-next" (click)="nextQuestion()">Next</button>
    </form>

    <div *ngIf="testing" class="testing-state">Question: {{questionIndex}}/{{questions.length}}</div>

    <div *ngIf="showResult" class="result">
      <div class="result-true">True: {{resultCountTrue}}</div>
      <div class="result-false">False: {{questions.length - resultCountTrue}}</div>
    </div>
  </div>
</div>
