<template>
  <div class="game">
    <h1>Game</h1>
    <button v-if="!gameStarted" v-on:click="go">Go</button>

    <div v-if="gameStarted">
      <p>How many: {{a}} + {{b}}?</p>
      <input type="number" :disabled="gameFinished" v-model="response" v-on:keyup.enter="submit"/>
      <p>Time: {{time}}</p>
    </div>

    <div v-if="gameFinished">
      <h4>Result</h4>
      <div>Responses: {{trueCount + falseCount}}</div>
      <div>True: {{trueCount}}</div>
      <div>False: {{falseCount}}</div>
    </div>

    <button v-if="gameFinished" v-on:click="go">Against</button>
  </div>
</template>

<script>
import {ref} from 'vue'
import {min, max, timer} from '../config'

export default {
  name: 'Game',
  props: {},
  setup() {
    let gameStarted = ref(false);
    let gameFinished = ref(false);
    let time = ref(localStorage.getItem('timer') || timer);
    let a = ref(0);
    let b = ref(0);
    let result = ref(a.value + b.value);
    let trueCount = ref(0);
    let falseCount = ref(0);
    let response = ref('');
    const minN = ref(localStorage.getItem('min') || min);
    const maxN = ref(localStorage.getItem('max') || max);

    const go = () => {
      console.log('Game was started');
      time.value = localStorage.getItem('timer') || timer;
      console.log('Storage', localStorage.getItem('timer'));
      console.log('Time:: ', time.value);

      getTask();
      gameStarted.value = true;
      gameFinished.value = false;

      const tt = setInterval(() => {
        time.value--;

        if (time.value <= 0) {
          clearInterval(tt);
          gameFinished.value = true;
          updateHistory();
          console.log('Time was ended');
          console.log('Result: ', {true: trueCount.value, false: falseCount.value});
        }

        console.log('Tick');
      }, 1000);
    }

    const getTask = () => {
      a.value = getRandom();
      b.value = getRandom();
    }

    const getRandom = () => {
      return parseInt(Math.random() * (maxN.value - minN.value) + minN.value);
    }

    const submit = () => {
      console.log('Submit');
      const result = checkResult();

      if (result) trueCount.value++;
      if (!result) falseCount.value++;

      response.value = '';
      getTask();
    }

    const checkResult = () => {
      return a.value + b.value === response.value;
    }

    const updateHistory = () => {
      const history = JSON.parse(localStorage.getItem('history') || '[]');

      history.push({
        trueCount: trueCount.value,
        falseCount: falseCount.value,
        responses: trueCount.value + falseCount.value,
        timer: localStorage.getItem('timer') || timer,
      });

      localStorage.setItem('history', JSON.stringify(history));
    }

    return {
      gameStarted,
      gameFinished,
      time,
      result,
      trueCount,
      falseCount,
      response,
      a,
      b,

      go,
      submit
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
