<template>
  <h1>Home</h1>
  <div v-if="history.length">History
    <li v-for="({trueCount, falseCount, timer}, index) in history" :key="index">
      Time {{timer}} sec | True: {{trueCount}} | False: {{falseCount}}
    </li>
  </div>

  <button v-on:click="clearHistory">Clear</button>
</template>

<script>
import {min, max, timer} from '../config'
import {ref} from 'vue'

export default {
  name: 'Home',
  props: {},
  setup() {
    if (!localStorage.getItem(min)) {
      localStorage.setItem('min', min);
    }

    if (!localStorage.getItem('max')) {
      localStorage.setItem('max', max);
    }

    if (!localStorage.getItem('timer')) {
      localStorage.setItem('timer', timer);
    }

    const clearHistory = () => {
      localStorage.setItem('history', '[]');
      history.value = [];
    }

    const getHistory = () => {
      const data = JSON.parse(localStorage.getItem('history') || '[]');

      if (data.length > 10) {
        return data.slice(data.length - 10).reverse();
      }

      return data.reverse();
    }

    let history = ref(getHistory());

    return {
      history,
      clearHistory
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
