<template>
  <h1>Settings</h1>
    <div class="time">
      <p>time in seconds {{time}}</p>
      <input type="number" min="10" max="120" placeholder="10" v-model="time" />
    </div>

    <div>
      <p>complexity: {{complexity}}</p>
      <input type='radio' id='one' value='0-10' checked v-model='complexity'/>
      <label for="one">0-10</label>

      <input type='radio' id='two' value='0-20' v-model='complexity'/>
      <label for="two">0-20</label>

      <input type='radio' id='three' value='0-50' v-model='complexity'/>
      <label for="three">0-50</label>
    </div>

    <button v-on:click="saveSettings">Save</button>
    <div v-if="errorValidation">Time must be more '{{min}}' and less '{{max}}' </div>
</template>

<script>
import {ref} from 'vue'
import {timerMin, timerMax, max, min, timer} from '../config'

export default {
  name: 'Settings',
  props: {},
  setup() {
    let time = ref('');
    let complexity = ref('');
    let errorValidation = ref(false);

    const saveSettings = () => {
      if (time.value > timerMax || time.value < timerMin) {
        console.log('Timer error!');
        errorValidation.value = true;
        return;
      }

      localStorage.setItem('min', complexity.value.split('-')[0] || min);
      localStorage.setItem('max', complexity.value.split('-')[1] || max);
      localStorage.setItem('timer', time.value || timer);

      errorValidation.value = false;

      console.log('Settings was saved');
    }

    return {
      time,
      complexity,
      min,
      max,
      errorValidation,

      saveSettings,
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
